# dir 不需要提交的目录
.git
.vscode

# file 不需要提交的文件

# ppt
Computer_Architecture/计算机体系结构 - 第*讲.pdf
Computing_Modeling/计算建模*.pdf
Computing_Modeling/Counting_Processes_with_Piecewise-Deterministic_Markov_Conditional_Intensity_Asymptotic_Analysis_Implementation_and_Information-Theoretic_Use.pdf
Computing_Modeling/Estimating_Video_Popularity_From_Past_Request_Arrival_Times_in_a_VoD_System.pdf
Computing_Modeling/Real-Time_Reconstruction_of_a_Counting_Process_Through_First-Come-First-Serve_Queue_Systems.pdf